<!DOCTYPE html>
<html>
    <head>
        <mate charest="utf-8" />
        <title>Hello world!</title>
    </head>
    <body>
            {{# each cantidad}}
            <div>
                    <div style="
                    
                    position: absolute;
                        margin-top: 129px;
                        padding-left: 37px;
                        font-size: 6px;
                        color: white;   
                ">{{numerolote}}</div>
                <img src="{{this.qr}}" style="
                width: 55px;
                    position: absolute;
                    left: 20px;
                    padding-top: 12px;"></img>
                <img src="{{this.url}}" style="width: 300px;"></img>
            </div>
             {{/each}}
       
    </body>
</html> 
